RewriteEngine On


#RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^register$ index.php?action=register [L]

#RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^userinfo$ index.php?action=userinfo [L]

#RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^login$ index.php?action=login [L]

RewriteRule ^src index.php?action=not_found [L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?action=not_found